@import '../../node_modules/reseter.css/src/sass/reseter.sass';
@import 'layout';

body {
    margin: 0;
    padding: 0;
    background-color: #54aaff;
    color: #020;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;

    li {
        width: 33.33%;
    }
}
