<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/this-is-a-new-path/subdirectory/testing/">Testing</a></li>
    <li><a href="/another-page/">Another Page</a></li>
    <li><a href="/games/">Games</a></li>
</ul>
