---
layout: _base.njk
title: 11ty Demo
---

<div class="hero">
    <div>
        <span class="hero__heading">Great Internet Site 🖱</span>
        <span class="hero__subheading">This is a website on the internet and is really pretty good.</span>
    </div>
</div>
{% include 'menu.njk' %}
{{ content | safe }}
